<div class="container">
  <div class="input-container" *ngIf="!branch">
    <input
      (keyup)="inputName($event)"
      [value]="itemName"
      type="text"
      name="perm-name"
      id=""
    />
    <button (click)="createItem()">+</button>
  </div>
  <button (click)="logBranch()">Log Tree</button>
  <recursive-component class="recursive" [branch]="branch" *ngIf="branch" (removeCb)="removeItem()"></recursive-component>
</div>
<div class="display">
  <recursive-component [branch]="branch" *ngIf="branch" [displayOnly]="true"></recursive-component>
</div>
